.div-center {
  display: flex;
  align-items: center;
  padding: 1rem;
}
h2 {
  text-align: center;
}
p {
  font-family: monospace;
  font-weight: bold;
  color: #007F5F;
  padding: 1rem;
}
.div {
  background-color: #FFFF3F;
  border-radius: .2rem;
}
#txt {
  font-size: 1.5rem;
}
#txt2 {
  font-size: 1.4rem;
}
button {
  margin: 0 1rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #0d6efd;
}

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
img {
  border-radius: .5rem;
}